.rdrSelected{
    background-color: #28282b;
    border-radius: 50%;
}
.rdrDay{
    height: 44px;
    width: 39px;
}
.rdrDayHovered{
    border-radius: 50%;
    height: 44px;
    width: 39px;
    border-color: #28282b;
    color: #28282b;
}
.rdrDayStartPreview {
    border-radius: 50%;
    border: 0px;
}
.rdrDayEndPreview{
    border-radius: 0px;
    border: 0px;
}

.rdrDays{
    width: 300px;
}

.rdrWeekDays{
    width: 270px;
}

.rdrWeekDay{
    font-size: 16px;
}

.rdrDayNumber{
    font-size: 16px;
}

.rdrMonthAndYearPickers{
    font-size: 16px;
}

.rdrDayToday .rdrDayNumber span:after{
    background-color: #28282b;
}